/*-------------------------------------
Project: 
	phpbb WASO (Web and Accessibility Standards Overhaul) - 2.0.06
	(Based on phpbb 2.0.23 - http://phpbb.com)
File:
	screen-subsilver-waso.css (for default subSilver style only)
Media: 
	Screen
Date: 
	30 December 2005
Author:
	Marco Battilana
	Crazy Bat Designs - http://crazybat.ca
-------------------------------------*/
/*-------------------------------------
Global styles
-------------------------------------*/
img {
	border: 0;
}
li {
	list-style: none;
	margin: 0;
}
.offleft,
.skip
{
	position: absolute;
	left: -9999px;
	width: 990px;
	overflow: hidden;
}
/*-------------------------------------
Content styles
-------------------------------------*/
	/*----------
	iconlegend ID
	- The style for the icon legends, both large and small
	----------*/
#content #iconlegend {
	float: left;
}
#content #iconlegend ul {
	list-style: none;
	width: 500px;
	margin: 0;
	padding: 0;
}
#content #iconlegend ul li {
	display: block;
	float: left;	
	width: 165px;
	height: 19px;
	padding: 1px 0;
	text-align: left;
	font-size: 0.65em;
}
#content .newposts {
	color: #000;
	background: url(images/folder_new.gif) center left no-repeat;
}
#content .hot {
	color: #000;
	background: url(images/folder_hot.gif) center left no-repeat;
}
#content .hotnewposts {
	color: #000;
	background: url(images/folder_new_hot.gif) center left no-repeat;
}
#content .nonewposts {
	color: #000;
	background: url(images/folder.gif) center left no-repeat;
}
#content .lockednew {
	color: #000;
	background: url(images/folder_lock_new.gif) center left no-repeat;
}
#content .locked {
	color: #000;
	background: url(images/folder_lock.gif) center left no-repeat;
}
#content .announcement {
	color: #000;
	background: url(images/folder_announce.gif) center left no-repeat;
}
#content .announcementnew {
	color: #000;
	background: url(images/folder_announce_new.gif) center left no-repeat;
}
#content .sticky {
	color: #000;
	background: url(images/folder_sticky.gif) center left no-repeat;
}
#content .stickynew {
	color: #000;
	background: url(images/folder_sticky_new.gif) center left no-repeat;
}
#content #iconlegend li span {
	margin: 0 0 0 25px;
}
#content span.newposts,
#content span.hot,
#content span.hotnewposts,
#content span.nonewposts,
#content span.lockednew,
#content span.locked,
#content span.announcement,
#content span.announcementnew,
#content span.sticky,
#content span.stickynew {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 3px 0 0;
}
#content #largeiconlegend ul  {
	width: 450px;
	height: 50px;
	margin: 0 auto;
	list-style: none;
}
#content #largeiconlegend ul li {
	float: left;
	text-align: center;
	font-size: 0.6em;
}	
#content #largeiconlegend span.iconlocked,
#content #largeiconlegend span.iconnewposts,
#content #largeiconlegend span.iconnonewposts {
	display: block;
	width: 150px;
	height: 50px;
}
	/*----------
	Content moderator ID
	- The style for the moderator commands
	----------*/
#content #moderatorcommands ul {
	list-style: none;
}
#content #moderatorcommands ul li {
	float: left;
}	
#content #moderatorcommands ul li a {
	display: block;
	width: 23px;
	height: 20px;
}	
#content #moderatorcommands ul li#moddelete a {
	background: url(images/topic_delete.gif) top left no-repeat;
}
#content #moderatorcommands ul li#modmove a {
	background: url(images/topic_move.gif) top left no-repeat;
}
#content #moderatorcommands ul li#modlock a {
	background: url(images/topic_lock.gif) top left no-repeat;
}
#content #moderatorcommands ul li#modunlock a {
	background: url(images/topic_unlock.gif) top left no-repeat;
}
#content #moderatorcommands ul li#modsplit a {
	background: url(images/topic_split.gif) top left no-repeat;
}
	/*/////-------------------------------------
	Content - Classes
	/*----------
	Icon classes
	- Places the various icon images
	----------*/
#content .iconlocked,
#content .iconnewposts,
#content .iconnonewposts {
	display: block;
	float: left;
	width: 50px;
	height: 55px;
}
#content .iconlocked {
	color: #333;
	background: url(images/folder_locked_big.gif) 50% 50% no-repeat;
}
#content .iconnewposts {
	color: #333;
	background: url(images/folder_new_big.gif) 50% 50% no-repeat;
}
#content .iconnonewposts {
	color: #333;
	background: url(images/folder_big.gif) 50% 50% no-repeat;
}
#content .iconlocked strong,
#content .iconnewposts strong,
#content .iconnonewposts strong {
	position: absolute;
	left: -9999px;
	width: 990px;
	overflow: hidden;
}
	/*----------
	Forum function button classes
	- The styles related to buttons found on the top and the bottom of the topic (ie: quote, delete, profile, etc.)
	as well as the memberlist and profile pages.
	----------*/
#content div.messagecommands {
	float: right;
	padding: 0 0 5px 0;
}
#content div.messagecommands ul,
#content div.membercommands ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#content div.messagecommands ul {
	width: 175px;
}
#content div.membercommands ul {
	width: 450px;
}
#content div.messagecommands ul li,
#content div.membercommands ul li {
	float: left;
}
#content div.messagecommands ul li a,
#content div.membercommands ul li a,
#content a.smallbutton {
	margin: 0 2px 2px 0;
	text-align: center;
	text-decoration: none;
}
#content a.smallbutton-profile,
#content a.smallbutton-pm,
#content a.smallbutton-email,
#content a.smallbutton-www,
#content a.smallbutton-aim,
#content a.smallbutton-icq,
#content a.smallbutton-msnm,
#content a.smallbutton-yim,
#content a.smallbutton-quote,
#content a.smallbutton-edit,
#content a.smallbutton-search
 {
	display: block;
	width: 62px;
	height: 18px;	
}
#content a.smallbutton-delete,
#content a.smallbutton-ip {
	display: block;
	width: 20px;
	height: 18px;
}
#content a.smallbutton-profile,
#content a.smallbutton-profile:hover,
#content a.smallbutton-profile:active {
	color: #333;
	background: url(images/lang_english/icon_profile.gif) center center no-repeat;
}
#content a.smallbutton-pm,
#content a.smallbutton-pm:hover,
#content a.smallbutton-pm:active {
	color: #333;
	background: url(images/lang_english/icon_pm.gif) center center no-repeat;
}
#content a.smallbutton-email,
#content a.smallbutton-email:hover,
#content a.smallbutton-email:active {
	color: #333;
	background: url(images/lang_english/icon_email.gif) center center no-repeat;
}
#content a.smallbutton-www,
#content a.smallbutton-www:hover,
#content a.smallbutton-www:active {
	color: #333;
	background: url(images/lang_english/icon_www.gif) center center no-repeat;
}
#content a.smallbutton-aim,
#content a.smallbutton-aim:hover,
#content a.smallbutton-aim:active {
	color: #333;
	background: url(images/lang_english/icon_aim.gif) center center no-repeat;
}
#content a.smallbutton-icq,
#content a.smallbutton-icq:hover,
#content a.smallbutton-icq:active {
	color: #333;
	background: url(images/lang_english/icon_icq_add.gif) center center no-repeat;
}
#content a.smallbutton-msnm,
#content a.smallbutton-msnm:hover,
#content a.smallbutton-msnm:active {
	color: #333;
	background: url(images/lang_english/icon_msnm.gif) center center no-repeat;
}
#content a.smallbutton-yim,
#content a.smallbutton-yim:hover,
#content a.smallbutton-yim:active {
	color: #333;
	background: url(images/lang_english/icon_yim.gif) center center no-repeat;
}
#content a.smallbutton-quote,
#content a.smallbutton-quote:hover,
#content a.smallbutton-quote:active {
	color: #333;
	background: url(images/lang_english/icon_quote.gif) center center no-repeat;
}
#content a.smallbutton-edit,
#content a.smallbutton-edit:hover,
#content a.smallbutton-edit:active {
	color: #333;
	background: url(images/lang_english/icon_edit.gif) center center no-repeat;
}
#content a.smallbutton-delete,
#content a.smallbutton-delete:hover,
#content a.smallbutton-delete:active {
	color: #333;
	background: url(images/icon_delete.gif) center center no-repeat;
}
#content a.smallbutton-ip,
#content a.smallbutton-ip:hover,
#content a.smallbutton-ip:active {
	color: #333;
	background: url(images/lang_english/icon_ip.gif) center center no-repeat;
}
#content a.smallbutton-search,
#content a.smallbutton-search:hover,
#content a.smallbutton-search:active {
	color: #333;
	background: url(images/lang_english/icon_search.gif) center center no-repeat;
}
	/*----------
	Posting image list classes
	- The styles related to all posting images. (New Topic, Post Reply, Locked)
	----------*/
#content ul.postlist {
	list-style: none;
	width: 200px;
	margin: 0;
	padding: 0;
}
#content ul.postlist li {
	display: block;
	float: left;
	width: 90px;
	height: 30px;
	margin: 5px 5px 5px 0;
	border: 0;
	padding: 0;
}
#content a.postnewtopic,
#content a.postnewtopic:hover,
#content a.postnewtopic:active {
	display: block;
	width: 85px;
	height: 27px;
	color: #fff;
	background: url(images/lang_english/post.gif) top left no-repeat;
}
#content a.postreply,
#content a.postreply:hover,
#content a.postreply:active {
	display: block;
	width: 85px;
	height: 27px;
	color: #fff;
	background: url(images/lang_english/reply.gif) top left no-repeat;
}
#content a.newpost,
#content a.newpost:hover,
#content a.newpost:active {
	display: block;
	width: 85px;
	height: 27px;
	color: #fff;
	background: url(images/lang_english/msg_newpost.gif) top left no-repeat;
}
#content a.locked,
#content a.locked:hover,
#content a.locked:active {
	display: block;
	width: 85px;
	height: 27px;
	color: #fff;
	background: url(images/lang_english/locked.gif) top left no-repeat;
}
#content a.postnewtopic span,
#content a.postreply span,
#content a.locked span {
	position: absolute;
	left: -9999px;
	width: 990px;
	overflow: hidden;
}
/*-------------------------------------
Miscellaneous styles
-------------------------------------*/
#content div.clear {
	clear: both;
	line-height: 0.1px;
}
/*-------------------------------------
Hacks
-------------------------------------*/
	/* Holly Hack: Hide From IE5/Mac \*/
* html div,
* html dl {
	height: 1%;
}
	/* Holly Hack: Hide From IE5/Mac \*/